*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #f6f0c1;
    font-family: 'Raleway', sans-serif;
    

}
header img {
    width: 100px; /* Tamaño deseado para el logotipo */
    height: auto; /* Para mantener la proporción original */
    
    
}

header {
    background-color: #5f9145; /* Cambia este valor al color que desees */
    padding: 20px; /* Espacio interno alrededor del contenido del encabezado */ 
    display: flex;
    justify-content: space-between;
    align-items: center;
         
}
/* Botonera Superior*/

nav ul {
    list-style-type: none; /* Quita los marcadores de lista */
    padding: 0 50px;
    margin: 0;
    background-color: #1b321b; /* Color de fondo de la barra de navegación */
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
  }
  
  /* Estilo para los enlaces de navegación (botones) */
  nav ul a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Cambia el color de fondo de los botones cuando se les pasa el mouse */
  nav ul a:hover {
    background-color: #ddd;
    color: black;
  }

/* Textos*/
h1{
    /* font-family: 'Raleway', sans-serif; */
    font-size: 2rem;
    padding-left: 10px;
    text-align: center;
    margin-top: 10px;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding-left: 10px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: rgb(48, 48, 51);
    padding: 10px;
}


section {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el desbordamiento del contenido durante la animación */
    animation: aparecer 1s ease forwards;
}

/* Define la animación de aparecer */
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* p::first-letter{
    color: #5f9145;
    font-size: 1.5rem;
    margin-left: 10px;
} */

.frentecabana{
    width: 400px;
}

.imagenes img{
    width: 400px;
}

h3{
    margin: 20px;
}

*::selection{
    background-color: #5f9145;
    color: #ddd;
}

